@import url('https://fonts.googleapis.com/css?family=Acme|Raleway&display=swap');
.seek-help {
    padding: 20px;
    background-image: url('../../images/clark-tibbs-oqStl2L5oxI-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-field {
    margin-left: 20px;
    font-size: 1.3rem;
    text-align: left;
    color: #F9EBE0;
    font-family: 'Acme', sans-serif;
    font-size: 1.2rem;
}

.text-val {
    color: #F9EBE0;
}